{% extends "flatmates/welcome.html" %}
<head>
    {% block head_content %}
    {{ block.super }}
    {% block tittle %}
    <title>Profile</title>
    {% endblock %}
    {% endblock %}
</head>


<body>
{% block body_content %}
{% block logo %}
{{ block.super }}
{% endblock %}
{% block login_info %}
{{ block.super }}
{% endblock %}


{% block messages %}
{{ block.super }}
{% endblock %}

<p style="color:red;"> {{ error }} </p>
<form action=" {% url 'flatmates:change_password' %}" method="post">
    {% csrf_token %}
<div id="theForm">
    <div class="row">
        <p></p>
        {{ form.current_password.errors }}
    </div>
        <div class="row">
        <label for="{{ form.current_password.id_for_label }}">Current Password:</label>
        {{ form.current_password }} <br>
    </div>

        <div class="row">
        <p></p>
        {{ form.new_password.errors }}
    </div>
        <div class="row">
        <label for="{{ form.new_password.id_for_label }}">New Password:</label>
        {{ form.new_password }} <br>
    </div>

        <div class="row">
        <p></p>
        {{ form.confirm_password.errors }}
    </div>
        <div class="row">
        <label for="{{ form.confirm_password.id_for_label }}">Confirm New Password:</label>
        {{ form.confirm_password }} <br>
    </div>
    </div>
    <input type="submit" class="submit" value="Submit" />
    </form>
{% endblock %}
</body>

</html>