<!DOCTYPE html>
<html lang=en"
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
     <link rel = "stylesheet" type="text/css" href="{% static 'flatmates/centre.css' %}">
</head>

<body>
<h3>
     <div style="width:400px; margin-right:auto; margin-left:auto;">
    <form action="{% url 'flatmates:login' %}" method="post">
        {% csrf_token %}
        Username:<br>
        <input type="text" name="username"> <br>
        Password:<br>
        <input type="password" name="password"> <br>
        <input type="submit" value="Login">
    </form>
     </div>
    </h3>
</body>
</html>