{% extends "flatmates/home.html" %}

<head>
    {% block head_content %}
    {{ block.super }}
    {% block tittle %}
    <title>Login</title>
    {% endblock %}
    {% endblock %}

</head>

<body>
{% block body_content %}
{% block logo %}
{{ block.super }}
{% endblock %}
{% block nav_anon %}
   {{ block.super }}
{% endblock %}

{% block messages %}
{{ block.super }}
{% endblock %}

    <form action="{% url 'flatmates:login' %}" method="post">
        {% csrf_token %}

        <div id="theForm" >
        <div class="row">
        <label for="username">Username:</label>
        <input type="text" name="username">
        </div>

        <div class="row">
        <label for="password">Password:</label>
        <input type="password" name="password">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        </div>
        <input type="submit" class="submit" value="Login">
    </form>


{% endblock %}
</body>
</html>