<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <form action=" {% url 'flatmates:register' %}" method="post">
        {% csrf_token %}
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username</label><br>
        {{ form.username }} <br>
        {{ form.password.errors }}
        <label for="{{ form.username.id_for_label }}">Password</label><br>
        {{ form.password }} <br>
        {{ form.email.errors }}
        <label for="{{ form.username.id_for_label }}">Email</label><br>
        {{ form.email }} <br>
        {{ form.first_name.errors }}
        <label for="{{ form.username.id_for_label }}">First name</label><br>
        {{ form.first_name }} <br>
        {{ form.last_name.errors }}
        <label for="{{ form.username.id_for_label }}">Fast name</label><br>
        {{ form.last_name }} <br>

        <input type="submit" value="register" />
        </form>
</head>
<body>

</body>
</html>