<!DOCTYPE html>
<html lang=en"
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
     <link rel = "stylesheet" type="text/css" href="{% static 'flatmates/centre.css' %}">
</head>

<body>
<h3>
     <div style="width:400px; margin-right:auto; margin-left:auto;">
    <form action=" {% url 'flatmates:register' %}" method="post">
        {% csrf_token %}
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username</label><br>
        {{ form.username }} <br>
        {{ form.password.errors }}
        <label for="{{ form.username.id_for_label }}">Password</label><br>
        {{ form.password }} <br>
        {{ form.email.errors }}
        <label for="{{ form.username.id_for_label }}">Email</label><br>
        {{ form.email }} <br>
        {{ form.first_name.errors }}
        <label for="{{ form.username.id_for_label }}">First name</label><br>
        {{ form.first_name }} <br>
        {{ form.last_name.errors }}
        <label for="{{ form.username.id_for_label }}">Last name</label><br>
        {{ form.last_name }} <br>
        {{ form.joining_date.errors }}
        <label for="{{ form.joining_date.id_for_label }}">Joining Date</label><br>
        {{ form.joining_date }} <br>
        {{ form.company.errors }}
        <label for="{{ form.company.id_for_label }}">Company</label><br>
        {{ form.company }} <br>

        <input type="submit" value="register" />
        </form>
         </div>
    </h3>
</body>
</html>