<!DOCTYPE html>
{% extends "flatmates/home.html" %}


<head>
    <title>Welcome</title>
    {% block head_content %}
    {{ block.super }}
    {% block tittle %}
    <title>Register</title>
    {% endblock %}
    {% endblock %}


</head>

<body>
{% block body_content %}
{% block logo %}
{{ block.super }}
{% endblock %}
{% block nav_anon %}
{{ block.super }}
{% endblock %}

{% block messages %}
{{ block.super }}
{% endblock %}

<form action=" {% url 'flatmates:register' %}" method="post">
    {% csrf_token %}
<div id="theForm">
    <div class="row">
        <p></p>
        {{ form.username.errors }}
    </div>
    <div class="row">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }} <br>
    </div>

    <div class="row">
        <p></p>
        {{ form.password.errors }}
    </div>
    <div class="row">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}<br>
    </div>

    <div class="row">
        <p></p>
        {{ form.email.errors }}
    </div>
    <div class="row">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>

    <div class="row">
        <p></p>
        {{ form.first_name.errors }}
    </div>
    <div class="row">
        <label for="{{ form.first_name.id_for_label }}">First name:</label>
        {{ form.first_name }}
    </div>

    <div class="row">
        <p></p>
        {{ form.last_name.errors }}
    </div>
    <div class="row">
        <label for="{{ form.last_name.id_for_label }}">Last name:</label>
        {{ form.last_name }}
    </div>

    <div class="row">
        <p></p>
        {{ form.joining_date.errors }}
    </div>
    <div class="row">
        <label for="{{ form.joining_date.id_for_label }}">Joining Date:</label>
        {{ form.joining_date }}
    </div>

    <div class="row">
        <p></p>
        {{ form.company.errors }}
    </div>
    <div class="row">
        <label for="{{ form.company.id_for_label }}">Company:</label>
        {{ form.company }}
    </div>
</div>
    <input type="submit" class="submit" value="register" />
</form>
{% endblock %}
</body>
</html>