{% extends "flatmates/base.html" %}
<head>
    {% block head_content %}
    {{ block.super }}
    {% block tittle %}
    <title>Welcome</title>
    {% endblock %}
    {% endblock %}
</head>


<body>
{% block body_content %}
{% block logo %}
{{ block.super }}
{% endblock %}
{% block login_info %}

<div id="user-tools">
    Hi, <strong>{{user}} </strong>
    <a href="{% url 'flatmates:logout' %}" method="POST"> Logout </a>
</div>

<div id="nav">
<a href="{% url 'flatmates:add' %}" > Add a entry</a>
<a href="{% url 'flatmates:view' %}" method="POST"> View All Entries </a>
</div>

{% endblock %}
<h3> Last five entries done:</h3>
<table width="100%" border="1" align="right">
    <tr>
        <th style="width: 20px text-align:left ">Paid By</th>
        <th style="width: 20px text-align:left">Spent On</th>
        <th style="width: 20px text-align:left">Amount paid</th>
        <th style="width: 20px text-align:left">Spent date</th>
        <th style="width: 20px text-align:left">Description</th>
    </tr>
    {% for item in expenses %}
    <tr>
        <td style="width: 20px text-align:left">{{ item.full_name }}</td>
        <td style="width: 20px text-align:left">{{ item.expense }}</td>
        <td style="width: 20px text-align:left">{{ item.spent_amount }}</td>
        <td style="width: 20px text-align:left">{{ item.spent_date }}</td>
        <td style="width: 20px text-align:left"> {{ item.description }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h3 style="display:inline-block;  width:350px;" > Amount Spent by you:  </h3>
<h3 style="display:inline-block; width:100px;" id="pid"></h3>
<br>
<h3 style="display:inline-block;  width:350px;" > Amount Spent by all:  </h3>
<h3 style="display:inline-block; width:100px;" id="pid1"></h3>

<br>
<h3 style="display:inline-block;  width:350px;" > Amount per Head:  </h3>
<h3 style="display:inline-block; width:100px;" id="pid2"></h3>

<br>
<h3 style="display:inline-block;  width:350px;" > Net Amount to be paid by you:  </h3>
<h3 style="display:inline-block; width:100px;" id="pid3"></h3>



<script type="text/javascript">
    var sum = 0;
    var you = 0;
    {% for item in all_expenses %}
        {% if item.full_name == user %}
        you = you + {{ item.spent_amount }}
        {% endif %}
        sum = sum + {{ item.spent_amount }}
     {% endfor %}
     var count = 0;
     {% for user in all_users %}
        count += 1
      {% endfor %}

     document.getElementById("pid").innerHTML = you;
     document.getElementById("pid1").innerHTML = sum;
     document.getElementById("pid2").innerHTML = sum/count;
     document.getElementById("pid3").innerHTML = sum/count - you;

</script>
{% endblock %}
</body>
</html>
