<!DOCTYPE html>
{% extends "flatmates/base.html" %}

{% block origin %}
<html lang=en"
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
     <link rel = "stylesheet" type="text/css" href="{% static 'flatmates/centre.css' %}">
</head>


<body>
     <div style="width:400px; margin-right:auto; margin-left:auto;"> </div>
        <h3> Hi, {{user}} </h3> <br>
         <h3><a href="{% url 'flatmates:add' %}" method="POST"> Add a entry </a> </h3><br>
          <h3><a href="{% url 'flatmates:view' %}" method="POST"> View All Entries </a> </h3><br>
          <h3><a href="{% url 'flatmates:logout' %}" method="POST"> Logout </a> </h3><br>


<h3> Last five entries done:</h3>
<table width="100%" border="1">

<tr>

    <th style="width: 20px">Full Name</th>
    <th style="width: 20px">expense</th>
    <th style="width: 20px">Amount</th>
    <th style="width: 20px">Description</th>
</tr>

   {% for item in expenses %}

    <tr>
        <td style="width: 20px">{{ item.full_name }}</td>
        <td style="width: 20px">{{ item.expense }}</td>
        <td style="width: 20px">{{ item.spent_amount }}</td>
        <td style="width: 20px"> {{ item.description }}</td>
    </tr>
    {% endfor %}
    </table>
     <br>

     <h3 style="display:inline-block;  width:350px;" > Amount Spent by you:  </h3>
    <h3 style="display:inline-block; width:100px;" id="pid"></h3>
<br>
      <h3 style="display:inline-block;  width:350px;" > Amount Spent by all:  </h3>
    <h3 style="display:inline-block; width:100px;" id="pid1"></h3>

     <br>
      <h3 style="display:inline-block;  width:350px;" > Amount per Head:  </h3>
    <h3 style="display:inline-block; width:100px;" id="pid2"></h3>

          <br>
      <h3 style="display:inline-block;  width:350px;" > Net Amount to be paid by you:  </h3>
    <h3 style="display:inline-block; width:100px;" id="pid3"></h3>



<script type="text/javascript">
    var sum = 0;
    var you = 0;
    {% for item in all_expenses %}
        {% if item.full_name == user %}
        you = you + {{ item.spent_amount }}
        {% endif %}
        sum = sum + {{ item.spent_amount }}
     {% endfor %}
     var count = 0;
     {% for user in all_users %}
        count += 1
      {% endfor %}

     document.getElementById("pid").innerHTML = you;
     document.getElementById("pid1").innerHTML = sum;
     document.getElementById("pid2").innerHTML = sum/count;
     document.getElementById("pid3").innerHTML = sum/count - you;

</script>
</body>
</html>
{% endblock %}