{% extends "flatmates/base.html" %}
<head>
    {% block head_content %}
    {{ block.super }}
    {% block tittle %}
    <title>Welcome</title>
    {% endblock %}
    {% endblock %}
</head>


<body>
{% block body_content %}
{% block logo %}
{{ block.super }}
{% endblock %}

{% block login_info %}

<div id="user-tools">
    Hi, <a href="{% url 'flatmates:profile' %}" method="GET" style="color: black">{{user}} </a>
    <a href="{% url 'flatmates:logout' %}" method="POST"> Logout </a>
</div>

<div id="nav">
    <a href="{% url 'flatmates:add' %}" > Add Entry</a>
    <a href="{% url 'flatmates:view' %}" method="POST"> View All Entries </a>
    <a href="{% url 'flatmates:edit' %}" method="POST"> Edit Entry</a>
        <a href="{% url 'flatmates:profile' %}" > View Profile</a>
    <a href="{% url 'flatmates:change_password' %}" method="POST"> Change Password </a>
</div>

{% endblock %}

{% block messages %}
{{ block.super }}
{% endblock %}

<div id="left">
    <h3>Summary:</h3>
    <table>

        <tr>
            <th> Full name </th>
            <th> Total spent</th>
            <th> Total Spent by all</th>
            <th> Amount per Head</th>
            <th>To be paid</th>
        </tr>
        {% for  name, spent_amount, to_be_paid, spent_per_head in  list %}

        <tr>
            <td id="id1"> {{ name }}</td>
            <td id="id2">{{ spent_amount }}</td>
            <td id="id3"> {{ total }}</td>
            <td id="id4"> {{ spent_per_head }}</td>
            <td>{{ to_be_paid }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="right">
    <h3> Last five entries done:</h3>

    <table>
        <tr>
            <th>Paid By</th>
            <th>Spent On</th>
            <th>Amount paid</th>
            <th>Spent date</th>
        </tr>
        {% for item in expenses %}
        <tr>
            <td>{{ item.full_name }}</td>
            <td>{{ item.expense }}</td>
            <td>{{ item.spent_amount }}</td>
            <td>{{ item.spent_date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
</body>
</html>
